<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <data-source>
        <name>java:jboss/datasources/testpostgre</name>
        <class-name>org.postgresql.xa.PGXADataSource</class-name>
        <server-name>localhost</server-name>
        <database-name>papodb</database-name>
        <user>papo</user>
        <password>papo</password>
        <transactional>true</transactional>
    </data-source>
</web-app>